.App {
  text-align: center;
  margin: 2rem;
}

.spotifyHeader {
  font-size: 30px;
}

.loginDiv{
  margin: 3rem;
}

.logoutDiv{
  margin: 3rem;
}

.logoutDiv button{
  
}

.searchDiv{
  margin: 3rem;
}

.showingArtists {
  font-size: 1.5rem;
}