.App {
  text-align: center;
  margin: 2rem;
}

.spotifyHeader {
  font-size: 30px;
  padding-bottom: 0.5rem;
}

.loginDiv {
  padding-top: 0.5rem;
}

.logoutDiv{
  margin: 1.5rem;
  margin-top: 0.5rem;
}

.logoutDiv button{
  
}

.searchDiv{
  margin: 1.5rem;
}

.showingArtists {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.artistIMG {
  width: 3%;
  height: 3%;
  border-radius: 25px;
}

.artistIMG:hover {
  width: 30%;
  height: 30%;
}

.showingTopItems {
  font-size: 1.5rem;
}

.topUserItems {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.findTopArtistsHeader {
  padding-bottom: 0.5rem;
}

.artistLink {
  text-decoration: none;
  color: black;
}

.topItemLink {
  text-decoration: none;
  color: black;
}

.artistDiv{
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.artistLink {
  text-decoration: none;
  color: black;

}

.artistDescDiv {
  padding-top: 1rem;
}

.artistDiv .contentDropDown{
  height: 0px;
  overflow: hidden;
  transition: height ease 1.0s;
}

.popularityP {
  text-align: center;
  max-width: 25rem;
  margin: 0 auto;
  margin-top: 0.2rem;
  font-size: 0.5rem;
}